@model NLPHelpDesk.Data.Models.TicketCompletion;
@using static NLPHelpDesk.Helpers.Constants;

@{
    ViewData[VIEW_DATA_TITLE] = TITLE_TICKET_COMPLETION;
}

<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-theme text-white">
                <h5 class="card-title mb-0">Enter Ticket Completion</h5>
            </div>
            <div class="card-body">
                <form asp-action="Completion">
                    <div class="mb-3">
                        <label asp-for="Question" class="form-label">@Html.DisplayNameFor(model => model.Question)</label>
                        <textarea asp-for="Question" class="form-control" rows="3" maxlength="400" placeholder="Enter the question..." required>
                            @Html.DisplayFor(model => model.Question)
                        </textarea>
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Answer" class="form-label">Solution</label>
                        <textarea asp-for="Answer" class="form-control" rows="3" maxlength="400" placeholder="Enter the solution..." required></textarea>
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Category" class="form-label">@Html.DisplayNameFor(model => model.Category)</label>
                        <select asp-for="Category" asp-items="ViewBag.Categories" class="form-control w-50" required></select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Difficulty" class="form-label">Difficulty</label>
                        <select asp-for="Difficulty" class="form-select w-50" required>
                            <option value="">Select Difficulty</option>
                            <option value="Basic">Basic</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="TicketId" />
                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Details" class="btn btn-outline-dark me-2" asp-route-ticketId="@Model.TicketId">
                            <i class="bi bi-arrow-left-circle"></i> Back to Detail
                        </a>
                        <input type="submit" value="Complete" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
