@model NLPHelpDesk.Data.Models.Ticket
@using static NLPHelpDesk.Helpers.Constants;

@{
    ViewData[VIEW_DATA_TITLE] = TITLE_TICKET_CREATE;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-theme text-white d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">@ViewData[VIEW_DATA_TITLE]</h5>
                    <a asp-action="Index" class="btn btn-outline-light btn-sm">
                        <i class="bi bi-arrow-left-circle"></i> Back to Ticket List
                    </a>
                </div>
                <div class="card-body">
                    @* @if (!ViewData.ModelState.IsValid) *@
                    @* { *@
                    @*     <div class="alert alert-danger alert-dismissible fade show" role="alert"> *@
                    @*         <ul> *@
                    @*             @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors)) *@
                    @*             { *@
                    @*                 <li>@error.ErrorMessage</li> *@
                    @*             } *@
                    @*         </ul> *@
                    @*     </div> *@
                    @* } *@
                    <form asp-action="Create">
                        <div class="mb-3">
                            <label class="form-label">Product (If needed)</label>
                            <select name="ProductId" class="form-select" asp-items="ViewBag.Products">
                                <option value="">If you know the product name, please select</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TicketTitle" class="form-label">@Html.DisplayNameFor(model => model.TicketTitle)</label>
                            <input asp-for="TicketTitle" class="form-control" maxlength="70" placeholder="Enter ticket title" required/>
                            <span asp-validation-for="TicketTitle" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TicketDescription" class="form-label">@Html.DisplayNameFor((model => model.TicketDescription))</label>
                            <textarea asp-for="TicketDescription" class="form-control" rows="3" maxlength="350" placeholder="Enter ticket description" required></textarea>
                            <span asp-validation-for="TicketDescription" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Create Ticket
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
