@page
@using static NLPHelpDesk.Helpers.Constants

@{
    ViewData[VIEW_DATA_TITLE] = TITLE_ACCESS_DENIED;
}

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5" style="background-color: #F5F5F5; border-radius: 0.5rem;">
                    <h2 class="text-center mb-4 text-theme">@ViewData["Title"]</h2>
                    <hr class="mb-4" style="border-top: 2px solid #00796B;" />
                    <p>
                        You do not have permission to access the requested resource.
                    </p>
                    <div class="d-flex justify-content-center mt-4">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-md btn-theme">
                            Go to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>