@model IEnumerable<NLPHelpDesk.Models.Product>
@using static NLPHelpDesk.Helpers.Constants;

@{
    ViewData[VIEW_DATA_TITLE] = TITLE_PRODUCT_INDEX;
}

<div class="primary-content-heading d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
        <h2 class="text-theme">@ViewData[VIEW_DATA_TITLE]</h2>
    </div>
    <a asp-action="Create" class="btn btn-primary btn-lg text-white">
        <i class="bi bi-plus-circle text-white"></i> Create Product
    </a>
</div>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row justify-content-start mb-3">
            <div class="col-md-6">
                <div class="input-group mb-1">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input type="text" id="keywordFilter" class="form-control" placeholder="Search by keyword" maxlength="30" />
                </div>
                @* <div class="row"> *@
                @*     <div class="col-md-3"> *@
                @*         <input type="date" id="startDateFilter" class="form-control" placeholder="Start Date"/> *@
                @*     </div> *@
                @*     <div class="col-md-3"> *@
                @*         <input type="date" id="endDateFilter" class="form-control" placeholder="End Date"> *@
                @*     </div> *@
                @* </div> *@
                <div class="col-md-auto">
                    <button id="btnFilter" class="btn btn-secondary">Search</button>
                    <button id="btnClear" class="btn btn-outline-secondary">Clear</button></div>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header bg-theme text-white">
                <h5 class="mb-0">Products</h5>
            </div>
            <div class="card-body p-0">
                @await Html.PartialAsync("_ProductList", Model)
            </div>
        </div>
    </div>
</div>

<script src="/js/product.js"></script>
